

@media screen and (min-width:992px) {
  .navbar .container-fluid{
    flex-direction: column;
  }
  .navbar .navbar-nav .nav-items{
    padding: .5em 1em;
  }
}
.navbar .navbar-nav .nav-link{
  font-size: 1.1em;
}
.navbar .navbar-nav {
  border-top:2px solid #ffffff ;
  border-bottom:2px solid #ffffff ;
  margin-top: .5em;
}